<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- GamePath: 游戏的路径 -->
		<add key="GamePath" value="" />
		<!-- TextContent: 文本内容 -->
		<add key="TextContent" value=""/>
		<!-- UpdatePath: 更新文件的URL -->
		<add key="UpdatePath" value="http://1.14.58.59/updata.xml"/>
		<!-- LaunchCount: 应用程序的启动次数 -->
		<add key="LaunchCount" value="0"/>
		<!-- EnableCounting: 是否启用启动次数统计 -->
		<add key="EnableCounting" value="false"/>
		<!-- RetryCount: 网络请求的重试次数 -->
		<add key="RetryCount" value="2"/>
		<!-- RetryDelay: 网络请求的重试间隔时间，单位是秒 -->
		<add key="RetryDelay" value="5"/>
		<!-- adcode: 城市的adcode码 -->
		<add key="adcode" value=""/>
		<!-- UpdateLogUrl：更新日志的URL -->
		<add key="UpdateLogUrl" value="https://gitee.com/nibadianbanxiaban/software/releases/download/resources/update_log.json" />
		<!-- VersionColor：更新日志的版本字段颜色 -->
		<add key="VersionColor" value="Red"/>
		<!-- UpdateTimeColor：更新日志的时间字段颜色 -->
		<add key="UpdateTimeColor" value="Blue"/>
		<!-- Culture：语言 -->
		<add key="Culture" value="zh-CN"/>
	</appSettings>
</configuration>