<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="GamePath" value=""/>
		<add key="TextContent" value=""/>
		<add key="UpdatePath" value="http://1.14.58.59/updata.xml"/>
		<add key="LaunchCount" value="0"/>
		<add key="EnableCounting" value="false"/>
	</appSettings>
</configuration>